.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.card {
    background-color: #f4f4f4;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}
